/*
Anmol Desai
Student ID:991515637
SYST10199 - Web Programming
*/
#heading{
    color: coral;
    
}
.buttons{
    background-color: yellow;
    
}
body{
    background-color: grey;
}
#result{
    color:lightgreen;
}